* {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    z-index: 1;
}

html {
    height: 100%;
}

.welcome-main {
    background-size: cover;
    position: relative;
    height: 100%;
    background-image: url("/images/img/welcome.jpg");
    background-repeat: no-repeat;
}

.welcome-form-container {
    position: absolute;
    top: 60%;
    left: 10%;
}

#welcome-form {
    display: inline-block;
}

#welcome-form select {
    height: 40px;
    width: 150px;
    margin-right: 3px;
    border: 1px solid #606760;
}

.go-btn {
    height: 40px;
    width: 40px;
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.go-btn:active {
    border: 1px solid white;
}


/* header*/

#logo {
    font-family: 'Cutive Mono', monospace;
    font-size: 42px;
    position: absolute;
    left: 48%;
    padding-top: 30px;
}

.bar {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #F2F2F2;

}

.bar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 200px;
    margin-right: 40px;
    margin-left: auto;
}

.bar ul li {
    margin-left: 20px;
}

.bar a {
    text-decoration: none;
}

.lang {
    width: 30px;
    height: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: transparent;
}

.logout {
    width: 30px;
    height: 40px;
    border: none;
    background-size: contain;
    background-image: url("/images/icons/logout2.png");
    background-repeat: no-repeat;
}

.login {
    width: 30px;
    height: 40px;
    border: none;
    background-size: contain;
    background-image: url("/images/icons/login.png");
    background-repeat: no-repeat;
}

.main {
    padding: 30px 30px;
}

#profile {
    width: 23px;
    height: 30px;
    border: none;
    background-size: contain;
    background-image: url("/images/icons/user.png");
    background-repeat: no-repeat;
}

.profile-main ul {
    width: 100%;
}

.profile-main li {
    text-decoration: none;
    padding: 20px 40px;
    color: #0f0f0f;
}

.profile-main li a:hover {
    color: grey;
}

.invisible-input,
#admin-order-books {
    display: none;
}

#order-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-main aside {
    position: fixed;
    background-color: #Ae9678;
    top: 0;
    left: 0;
    height: 100%;
}

#profile-msg {
    width: 30px;
    border: none;
    background-size: cover;
    background-image: url("/images/icons/msg.png");
    background-repeat: no-repeat;
}

.to-be-amended {
    display: none;
}

#add-to-wl {
    width: 30px;
    height: 30px;
    border: none;
    background-size: cover;
    background-image: url("/images/icons/heart.png");
    background-repeat: no-repeat;
}

.clicked {
    background-image: url("/images/icons/heart-black.png");
}

#eng{
    background: url("/images/icons/usa.png") no-repeat;
    background-size: cover;
}

#rus{
    background: url("/images/icons/russia.png") no-repeat;
    background-size: cover;
}

.nav {
    border-bottom:1px solid  rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    margin-left: 0;
}

.nav-menu li {
    padding: 15px 20px;
    width: 160px;
    display: inline;
    border-right: 1px solid rgb(190, 190, 190);
}

.nav-menu a:hover,
.nav-menu a:active {
    color: #935e39;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #585858;
    font-size: 18px;
    text-transform: uppercase;

}

.logo {
    height: 150px;
    border-bottom: 2px solid grey;
}

.logo p {
    text-align: center;
    top: 40%;
}

.logo a {
    font-family: 'Cutive Mono', monospace;
    font-size: 42px;
    color: slategray;
}

#login-background {
    top: 0;
    bottom: 0;
    margin: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #808080;
    opacity: 70%;
    z-index: 5;
}

#login-form {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    z-index:10;
    display: none;
    position:fixed;
    top:10%;
    left:42%;
}

#login-form input.msg-section,
#login-page input.msg-section {
    padding: 15px;
    width: 100%;
    border: none;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
}

#login-form input,
#login-page input {
    width: 100%;
    padding: 10px;
    background-color: #ddd;
    margin-bottom: 10px;
}

#login-form .btn,
#login-page .btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

#login-form h1,
#login-page h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

#login-form .cancel,
#login-page .cancel {
    background-color: red;
}

#login-form .btn:hover, .open-button:hover,
#login-page .btn:hover, .open-button:hover {
    opacity: 1;
}

#login-page {
    width: 300px;
    padding: 10px;
    background-color: white;
    display: block;
    top:10%;
    left:42%;
}

#book {
    margin: 30px 20px;
}












.search {
    display: inline-block;
    height: 25px;
}

.search input {
    margin-right: 1px;
    border: solid 1px black;
    height: 25px;
}

.search button {
    height: 25px;
    width: 25px;
    background-image: url("/images/icons/search.png");
    background-repeat: no-repeat;
    background-size: 90%;
    border: 2px solid black;
}

.cart {
    background: url("/images/icons/cart.png") no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
}

#cart-table td {
    border: 1px solid silver;
}

.wish-list {
    background: url("/images/icons/heart-black.png") no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
}



.back {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 120px;
    border: 2px solid #24575c;
    border-radius: 5%;
    background-color: white;
    color: #24575c;
}

.back a {
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
}

.back:active,
.back:hover {
    border: 2px solid white;
    background-color: #24575c;
    color: #24575c;
}

.back a:hover,
.back a:active {
    color: white;
}

.admin-main {
    position: relative;
    background-color: #F3F3F3;
}

h1 {
    size: 1.5em;
    color: black;
    text-transform: uppercase;
    padding-bottom: 10px;
}

h2 {
    size: 1.2em;
    color: #Ae9678;
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    padding-bottom: 15px;
}


.admin-main p {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 48px;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.admin-table td,
.admin-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.admin-table tr {
    background-color: #f7fbfc;
}

.admin-table tr:nth-child(even){
    background-color: white;}

.admin-table th {
    text-align: left;
    background-color: #5ab6bf;
    color: #24575c;
}

.admin-menu-btn {
    background-color: transparent;
    border: none;
    color: #24575c;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.admin-title {
    position: absolute;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.admin-filter {
    width: 150px;
}

.edit-info,
.edit-image {
    margin: 20px 30px;
}

.edit-info input.accept,
.edit-info input.decline,
.edit-info input.accept,
#save {
    width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    margin-top: 20px;
}




.td-image {
    width:100px;
    height: 180px;
}

.error,
.msg-section {
    color: #934139;
    font-size: 16px;
    max-width: 300px;
    padding-top: 100px;
}

h2 {
    margin-bottom: 5px;
}
.signup-main,
.form-container,
.edit-main,
.profile-main,
.btns {
    display: flex;
    justify-content: space-between;
}

.signup-container {
    background-color: #fff;
    border-radius: 5px;
    border: 1px black;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.signup-header {
    background-color: rgb(215, 215, 215);
    border-bottom:  1px solid #f0f0f0;
    padding: 20px 40px;
}

.signup-header h3 {
    margin: 0;
}

.signup-form {
    padding: 30px 40px;
    background-color: #f7f7f7;
}

.form-control {
    margin-bottom: 8px;
    padding-bottom: 15px;
    position: relative;
}
.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control.success i.fas-fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.form-control.success i.fas-fa-check-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;
    font-size: 10px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #0f0f0f;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 12px;
    width: 100%;
    padding: 7px;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.signup-form button {
    background-color: red;
    border: 2px solid red;
    color: white;
    display: block;
    padding: 5px;
    font-size: 14px;
    font-family: inherit;
    width: 100%;
}

.decline,
#decline{
    background-color: tomato;
}

.accept,
#accept{
    background-color: #04AA6D;
}
.msg-div {
    font-size: 16px;
    color: #934139;
}

#pop-up-div {
    z-index: 10;
    display: block;
    position: fixed;
    top: 20%;
    left:40%;
    border: solid 1px black;
    color: red;
    width: 250px;
}

.profile-info {
    padding: 20px 20px;
}

#pass-changed {
    color: red;
    font-size: 16px;
}

.prof-container section {
    padding: 20px;
    border-bottom: 1px solid #24575c;
}

/*index*/
#ads {
    background-image: url("/images/img/shelf.jpg");
    background-size: cover;
    height: 350px;
}

#index-books{
    padding: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
}

#order-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
}

.index-book {
    width: 170px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h3 {
    color: #585858;
    font-size: 16px;
    align-items: center;
    margin: 10px auto;
}

h4 {
    color: #994d00;
}

h4:hover {
    color: #663300;
}

button {
    cursor: pointer;
}

.see-more {
    height: 30px;
    text-transform: uppercase;
    background-color: #24575c;
    margin-left: 40px;
}

.see-more a {
    color: white;
    font-size: 24px;
}

.index-book img {
    height: 70%;
}

.index-book a {
    text-decoration: none;
    color: #808080;
}

.index-book-name {
    font-size: 12px;
}

.index-author-name {
    font-size: 10px;
    color: #A0522D;
}

.index-book-price {
    font-size: 12px;
    color:black;
    font-weight: bold;
}

.books-main {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.filter {
    width: 150px;
}


#book {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    height: 35px;
    line-height: 35px;
    color: white;
    margin-top: 20px;
}

.btn:hover,
.btn:active {
    font-weight: bold;
}

#view-cart {
    background-color: #679186;
    margin-right: 40px;
}

.checkout-main {
    position: relative;
    padding: 20px;
}

#checkout {
    background-color: #AE9678;
}

#checkout-form section {
    padding: 30px;
}

.book-desc {
    padding: 20px;
    border: 1px solid #679186;
    line-height: 1.2em;
}

.book-cover {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

#cart-form {
    border: 1px solid lightblue;
}

#cart-form td {
    padding: 20px;
    text-align: left;
}




.footer {
    background-color: #24575c;
    height: 80px;
}

