* {
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    z-index: 1;
}

html {
    height: 100%;
}

.welcome-main {
    background-size: cover;
    position: relative;
    height: 100%;
    background-image: url("/images/img/welcome.jpg");
    background-repeat: no-repeat;
}

.welcome-form-container {
    position: absolute;
    top: 60%;
    left: 10%;
}

#welcome-form {
    display: inline-block;
}

#welcome-form select {
    height: 40px;
    width: 150px;
    margin-right: 3px;
    border: 1px solid #606760;
}

.go-btn {
    height: 40px;
    width: 40px;
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.go-btn:active {
    border: 1px solid white;
}

/* header*/

#logo {
    font-family: 'Cutive Mono', monospace;
    font-size: 42px;
    position: absolute;
    left: 48%;
    padding-top: 30px;
}

.bar {
    width: 100%;
    padding: 10px 20px;
    background: #FFFFFF;
    float: right;
}

input[type=radio] {
    margin-bottom: 20px;
}

.logo {
    font-family: 'Cutive Mono', monospace;
    font-size: 32px;
    width: 250px;
    margin: 0 auto;
    color: dimgrey;
    padding: 40px 0;
}

.bar ul {
    width: 250px;
    margin-left: auto;
    margin-right: 0;
}

.bar ul li {
    display: inline-block;
    row-gap: 15px;
    list-style: none;
    margin: 0 15px;
    color: #fff;
}

.lang {
    width: 30px;
    height: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: transparent;
}


.main {
    padding: 30px 30px;
}


.fas,.far {
    color: dimgrey;
}


.invisible-input {
    display: none;
}

#order-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.to-be-amended {
    display: none;
}

#add-to-wl {
    width: 30px;
    height: 30px;
    border: none;
    background-size: cover;
    background-image: url("/images/icons/heart.png");
    background-repeat: no-repeat;
}

#delete-from-wl {
    width: 30px;
    height: 30px;
    border: none;
    background-size: cover;
    background-image: url("/images/icons/heart-black.png");
    background-repeat: no-repeat;
}

.books-filter {
    padding: 40px 20px;
    float: left;
    width: 300px;
    margin-top: 30px;
    border: 1px darkgoldenrod solid;
}

.selected {
    background: darkgoldenrod;
    font-weight: bold;
}

.books-filter form {
    padding: 20px;
}

#eng{
    background: url("/images/icons/usa.png") no-repeat;
    background-size: cover;
}

#rus{
    background: url("/images/icons/russia.png") no-repeat;
    background-size: cover;
}


.header-header,
.profile-header {
    top: 0;
    position: sticky;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 5;
}

.profile-main {
    padding: 20px;
}
.fa-btn {
    background: transparent;
    border: none;
}

.profile-main h1 {
    padding: 20px;
    background-color: #f1f1f1;
    border-bottom: solid 1px lightgrey;
    margin-bottom: 20px;
    margin-left: 20px;
}

#prof-orders table {
    margin-left: 20px;
    padding: 20px;
}

#prof-personal button {
    margin: 20px 20px 20px auto;
}

.profile-info,
#save-profile,
#edit-profile-btn {
    margin-left: 35%;
    align-items: normal;
    padding: 0 20px;
}

#save-profile {
    display:none;
}

.nav {
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom:1px solid rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu *{
    margin: 0;
    padding: 0;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu > ul,
.nav-container,
.profile-bar,
.signup-main,
.form-container,
.edit-main,
.btns,
.cart-wl,
.admin-header {
    display: flex;
    justify-content: space-between;
}

.nav-menu > ul li a,
.nav-menu > ul li button {
    display: block;
    background: #FFFFFF;
    padding: 15px 30px 15px 40px;
    color: #24575c;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.nav-menu > ul li {
    position: relative;
    border-right: 1px solid #c7c8c8;
}

.nav-menu > ul li:first-child {
    border-left: 1px solid #b3b3b3;
}

.nav-menu > ul li:last-child {
    border-right: 1px solid #b3b3b3;
}

.nav-menu li a:hover,
.nav-menu li button:hover{
    background: #24575c;
    color: white;
    transition: all 0.3s ease;
}

.nav-menu ul li a,
.nav-menu ul li a{
    text-decoration: none;
    color: #585858;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.nav-menu li > ul li {
    border: 1px solid #c7c8ca;
}

.nav-menu li > ul li a {
    padding: 7px;
    text-transform: none;
    background: #FFFFFF;
    font-size: 12px;
}

.nav-menu li:hover > ul {
    display: block;
}



#login-background {
    top: 0;
    bottom: 0;
    margin: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 70%;
    z-index: 5;
}

.unscrollable {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.authors-item {
    padding: 10px;
}

#book,
#author {
    margin: 30px 20px;
}

.search {
    display: inline-block;
    height: 25px;
}

.search input {
    margin-right: 1px;
    border: solid 1px black;
    height: 25px;
}

.search button {
    height: 25px;
    width: 25px;
    background-image: url("/images/icons/search.png");
    background-repeat: no-repeat;
    background-size: 90%;
    border: 2px solid black;
}

.authors-search {
    border-bottom: #Ae9678 1px solid;
}

#cart-table {
    border-collapse: collapse;
    padding: 40px 20px;
    width: 100%;
}

#cart-table td {
    padding: 20px 40px;
}

#cart-table tr {
    border-bottom: #24575c 1px solid;
}

.wish-list {
    margin-left: 20px;
}

#for-signed-user {
    display: inline-block;
}

.btn-container,
#author {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding: 30px;
}

.profile-order-items {
    display: inline-block;
    margin-left: 30px;
}

.admin-main {
    position: relative;
    background-color: #F3F3F3;
}

h1 {
    size: 1.5em;
    color: #24575c;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 20px;
}

h2 {
    size: 1.2em;
    color: #Ae9678;
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    padding-bottom: 15px;
}

.admin-main p {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 48px;
}

input[type=text],
#card {
    border: 1px solid slategrey;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    width: 100%;
    padding: 7px;
}

.profile-main input[type=text],
.profile-main input[type=password],
#card {
    width: 250px;
    margin-bottom: 20px;
}

#prof-cards form,
#prof-address form {
    margin-bottom: 20px;
}

.admin-table {
    margin: 20px;
    border-collapse: collapse;
    width: 100%;
}

.admin-table td,
.admin-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.admin-table tr {
    background-color: white;
}

.admin-table tr:nth-child(even){
    background-color: #f7fbfc;
}

.admin-table th {
    text-align: left;
    background-color: #5ab6bf;
    color: #24575c;
}

.admin-title {
    position: absolute;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.admin-filter {
    width: 150px;
    margin: 30px auto;
}

.edit-info,
.edit-image {
    margin: 20px 30px;
}

.edit-info input.accept,
.edit-info input.decline,
.edit-info input.accept,
#save {
    width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    margin-top: 20px;
}

.title {
    text-transform: uppercase;
    font-size: 22px;
    padding: 20px 0;
}

.td-image {
    width:100px;
    height: 180px;
}

.error,
.msg-section {
    color: #934139;
    font-size: 16px;
    max-width: 300px;
}

h2 {
    margin-bottom: 5px;
}


.cart-wl > a {
    margin-right: 20px;
}


.decline,
#decline {
    background-color: tomato;
}

.accept,
#accept,
#save-profile,
#save-pass {
    background-color: #04AA6D;
}

.msg-div {
    font-size: 16px;
    color: #934139;
}

#pop-up-div {
    z-index: 10;
    display: block;
    position: fixed;
    top: 20%;
    left:40%;
    border: solid 1px black;
    color: red;
    width: 250px;
}

#pass-changed {
    color: red;
    font-size: 16px;
}

/*index*/
#ads {
    position: relative;
    background-image: url("/images/img/jamie.jpg");
    background-size: cover;
    height: 350px;
}

#ads button {
    position: absolute;
    margin: 0 auto;
}

.index-main {
    position: relative;
    margin: 0 auto;
}

#index-books,
#filtered-books,
#authors {
    padding: 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 40px;
}

#filtered-books {
    border-bottom: 5px sandybrown solid;
}

#order-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
}

.index-book {
    width: 170px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

h3 {
    color: #585858;
    font-size: 16px;
    align-items: center;
    margin: 10px auto;
}

h4 {
    color: #994d00;
}

h4:hover {
    color: #663300;
}

.index-book img {
    height: 70%;
}

.index-book a {
    text-decoration: none;
    color: #808080;
}

.index-book-name {
    font-size: 12px;
}

.index-author-name {
    font-size: 10px;
    color: #A0522D;
}

.index-book-price {
    font-size: 12px;
    color:black;
    font-weight: bold;
}

.books-main {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.filter {
    width: 150px;
}

#book {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btn {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 120px;
    max-width: 300px;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    color: white;
    border-radius: 4px;
}

.add-book > a > div,
.back > a {
    max-width: 170px;
    margin: 20px auto 20px 20px;
    text-align: center;
}

.btn:hover,
.btn:active {
    font-weight: bold;
    cursor: pointer;
}

.fa-minus-circle {
    color: tomato;
}

#total-cost {
    padding: 15px 20px;
    background: #24575c;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

#view-cart {
    background-color: #679186;
    margin-right: 40px;
}

.checkout-main {
    position: relative;
    padding: 20px;
    background: #AE9678;
    margin-left: 20px;
}

#checkout,
.checkout {
    background-color: #AE9678;
}

#checkout-form section {
    padding: 30px;
}

.book-desc {
    padding: 20px;
    border: 1px solid #679186;
    line-height: 1.2em;
}

.book-cover {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}

#cart-form {
    border: 1px solid lightblue;
}

#cart-form td {
    padding: 20px;
    text-align: left;
}

.footer {
    background-color: #24575c;
    height: 80px;
}

